body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background: rgb(15,15,92);
    background: linear-gradient(138deg, rgba(15,15,92,1) 0%, rgba(3,29,120,1) 19%, rgba(3,20,78,1) 100%);
}

.login {
    background-color: rgba(0, 0, 0, 0.548);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px;
    border-radius: 15px;
    color: white;
}
.login h1{
    font-size: 30px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: rgba(0, 0, 255, 0.582);
}
.login h1,h2{
    text-align: center;
}
.login{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    padding: 15px;
    font-size: 15px;
}

button {
    background-color: rgba(3,29,120,1);
    border: none;
    border-radius: 6px;
    padding: 10px;
    width: 100%;
    font-size: 15px;
}
button:hover{
    background-color: rgba(30, 143, 255, 0.877);
    cursor: pointer;
}